<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <title>Page Build</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
        }
        .tab{
            padding:7px 14px;
            display:inline-block;
            border-radius:3px;
            margin-right:10px;
        }
        .tab:focus{
            outline:none;
        }
        .tab.tab-active{
            background: #1890ff;
            color: #fff;
        }
        .tab-container{
            display:inline-block;
        }
        .tab-content{
            animation:fadeEffect 1s;
        }
        .tab-contents{
            min-height:100px;
            padding:10px;
        }
        @keyframes fadeEffect{
            from{
                opacity:0;
            }
            to{
                opacity:1;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
    {{style}}
</head>
<body>
    {{body}}
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    {{script}}
</body>
</html>
